---
import MainLayout from "../layouts/MainLayout.astro";
import Title from "../components/Title.astro";
---

<MainLayout>
	<div class="flex flex-col gap-2 text-center">
		<Title>Uncharted Destinations, Inc. – We’ll Find It Eventually!</Title>
		<p>At Uncharted Destinations, Inc., we specialize in sending you to places that probably exist, based on what someone’s cousin's roommate once mentioned at a party. Whether it’s a tropical island that definitely isn't on Google Maps or a mountain retreat that’s totally “off the grid” (because we lost it), we’re dedicated to making sure your travel experience is one-of-a-kind... mainly because no one else knows how to get there.
		</p>
		<p>
			Our highly trained staff will equip you with a complimentary compass, a sturdy blindfold, and a hearty “good luck!” From accidental flights to Timbuktu to bus tours that may or may not end up in Mordor, we guarantee you’ll go somewhere new—or at least... somewhere. So pack your bags (and your sense of direction), because with us, adventure isn't just the destination—it’s finding the destination!
		</p>
	</div>
	<img src="/images/home.webp" alt="Map of Uncharted Destinations - We'll find it eventually!">
</MainLayout>