---
import SearchBar from "./SearchBar.astro";
---
<div class="flex flex-row gap-2 justify-center p-4 bg-gray-800">
    <nav class="flex flex-row gap-2 justify-between w-full max-w-7xl" >
        <div class="flex flex-row gap-2">
            <a class="btn btn-ghost dark:text-white" href="/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
            </svg>
            <div>
                Home
            </div>
        </a>
        <a class="btn btn-ghost dark:text-white" href="/about">About</a>
        <a class="btn btn-ghost dark:text-white" href="/contact">Contact</a>
    </div>
    <SearchBar />
</nav>
</div>