---
import NavBar from "../components/NavBar.astro";


---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="min-h-screen bg-no-repeat bg-[url('/images/background.webp')] bg-cover">
    <NavBar />
    <div class="flex flex-row gap-2 justify-center my-4">
        <main class="p-4 max-w-7xl bg-white w-full h-auto rounded-lg">
            <slot />
        </main>
    </div>
</body>
</html>